# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Misc
.jac/
.DS_Store
*.local
.env
.env.*

# Logs
logs/
*.log
npm-debug.log*

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# TypeScript
*.tsbuildinfo
